.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  width: 325px;
  height: 205px;
  border-radius: 20px;
  overflow-wrap: break-word;
  position: relative;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card_color_green {
  background-color: #64d583;
}

.card_color_blue {
  background-color: #91a8f9;
}

.card_color_pink {
  background-color: #ee92d7;
}

.card_color_purple {
  background-color: #aa8ef0;
}

.card_color_orange {
  background-color: #ee955e;
}

.card_color_yellow {
  background-color: #f5d770;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__delete-btn {
  height: 24px;
  width: 24px;
  opacity: 50%;
  padding: 0 0;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.card__delete-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__flip-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  background: url("../images/flip.svg") center / contain no-repeat;
  opacity: 50%;
  z-index: 2;
}

.card__flip-btn:hover {
  opacity: 100%;
}

.card__delete-btn_type_icon {
  background: url("../images/delete.svg") center / contain no-repeat;
}

.card_color_white {
  background-color: #fff;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
