.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery_type_deck {
  display: none;
}

.gallery__title-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.gallery__content {
  display: contents;
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 1.2;
}

.gallery__practice-btn {
  flex: none;
}

.gallery__list {
  list-style: none;
  display: flex;
  display: contents;
  flex-wrap: wrap;
  margin: 0 0;
  padding-left: 0;
  gap: 20px;
}

.gallery__new-card-btn {
  display: flex;
  padding: 20px 20px;
  width: 325px;
  height: 205px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  border-radius: 20px;
  cursor: pointer;
  padding-left: 20px;
  background-color: #d9d9d9;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

@media (max-width: 480px) {
  .gallery__title {
    font-size: 32px;
  }

  .gallery__new-card-btn {
    width: 100%;
  }
}
