.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(325px, 100%), 1fr));
  gap: 20px;
}

.gallery_type_deck {
  display: none;
}

.gallery_type_deck_visible {
  display: grid;
}

.gallery__title-row {
  display: flex;
  grid-column: 1 / -1;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.gallery__content {
  display: contents;
}

.gallery__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 1.2;
}

.gallery__practice-btn {
  flex: none;
}

.gallery__list {
  list-style: none;
  display: contents;
  margin: 0;
  padding-left: 0;
}

#home {
  width: 100%;
  max-width: 1360px;
  margin-inline: auto;
}

.gallery__new-card-btn {
  display: flex;
  padding: 20px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 205px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  border-radius: 20px;
  cursor: pointer;
  padding-left: 20px;
  background-color: #d9d9d9;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

@media (max-width: 480px) {
  .gallery__title {
    font-size: 32px;
  }

  .gallery__new-card-btn {
    width: 100%;
  }
}
